body {
    font-family: Arial, sans-serif;
    font-weight: 700;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(https://cdn.pixabay.com/photo/2020/09/24/16/50/board-5599231_1280.png);
}
form {
    background-color: rgba(255, 255, 255, 0.7);
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
    text-align: start;
}
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
#result {
    margin-top: 20px;
    background-color: #4CAF50 ;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
#error {
    margin-top: 20px;
    background-color: #c00b05 ;
    padding: 10px;
    color: white;
    border-radius: 10px;
}